/*CSS Allgemein*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
}
header{
    height: 10vh;
    width: 100vw;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}
section{
    width: 100vw;
    min-height: 90vh;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}
footer{
    width: 100vw;
    padding: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.linkElement{
    position: relative;
    bottom: 25vh;
}
.linkPortfolio{
    bottom: 10vh;
}
.linkBilder{
    bottom: 40vh;
}
.aeussererBehealter{
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 30px;
}
.innererBehaelter{
    height: 100%;
    width: 100%;
    display: flex;
}
.schriften{
    color: black;
}

/*CSS Selbstbeschreibung*/
.behaelterSelbstbeschreibung{
    overflow: hidden;
    position: relative;
}
.selbstbeschreibung{
    margin-top: 100px;
}
.bilderrahmen{
    height: 300px;
    width: 250px;
    transition-duration: 1s;
}
.bilderrahmen img{
    height: 100%;
    width: 100%;
}
.beschreibung{
    width: 30%;
    margin-left: 2%;
    align-self: center;
    position: absolute;
    right: 0;
}
.steckbrief{
    align-self: center;
    margin-left: 2%;
    width: 30%;
}
ol, ul{
    margin-left: 20px;
    display: inline-block;

}

/*CSS Bilder*/
.gallerieBehaelter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.behaelterBilder{
    display: block;
}
.imgButton{
    font-size: 200%;
    margin: 10px;
}

.image{
    padding: 5px;
}

.container{
    width: 70%;
    height: 70%;
    margin: 20px;
}

img{
    height: 100%;
}

.imgContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*CSS Menu*/
.navigationsLeiste{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 10%;
}
a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-self: center;
}
.menubuttonWrapper{
    height: 30px;
    display: inline-block;
    position: relative;
}
.menuUnderline{
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0;
    background-color: black;
    transition-duration: 0.5s;

}
.menubuttonWrapper:hover .menuUnderline{
    width: 130%;
    transition-duration: 0.5s;
}
.behaelterLogo{
    height: 100%;
    max-width: 15%;
}
.logo{
    height: 100%;
}

/*CSS Iframe*/
.behaelterIframe{
    width: 100%;
    display: flex;
    justify-content: center;
}
iframe{
    height: 506px;
    width: 826px;;
    margin-top: 10px;
}
